{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    TODO
    <!--Content-->
    <div class="content clear-fix">
        <!--Main Content-->
        {% for list in listings %}
        <div class="main-content">
            <!--<h1 class="recent-post-title">Recent Posts</h1>-->
            <div class="post">
                {% if list.picture%}
                <img src="{{ list.picture.url }}" class="post-image">
                {% endif %}
                <div class="post-preview">
                    <h2><a href="{% url 'listing' list.id %}">{{ list.title }}</a></h2>
                    <i class="far fa-user">Information</i>
                    &nbsp;
                    <!--<i class="far calendar">Date</i>-->
                    <p class="preview-text">{{ list.description }}
                    <p class="preview-text">{{ list.category}}</p> 
                
                    
                    <a href="{% url 'listing' list.id %}" class="btn read-more">Read More</a>
                </div>
            </div>

        </div> 
        {% endfor %}

    </div>
    {% endblock %}


    

    