{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
        <!--Content-->
        
        <div class="content clear-fix">
        
            <!--Main content-->
            <div class="main-content">
                <div class="post">

                    {% if item.picture %}
                    <img src="{{ item.picture.url }}" class="post-image">
                    {% endif %}
                    <div class="post-preview">
                        <h2>{{ item.title }}</h2>
                        <i class="far fa-user">Information</i>
                        &nbsp;
                        <p class="preview-text">{{ item.description }}</p>
                        <p class="preview-text">{{ item.category }}</p>
                        <p class="preview-text">{{ item.start_bid }}</p>
                        <p class="preview-text">Created_by{{ createdby.creator }}</p>

                    </div>
                </div>
            </div>
        </div>
        
        <!--Display all Comments-->
    
        
    
    {% for comments in allcomments %}
        <div class="comment-content">
            <div class="a-image">
                <img src="{% static 'auctions/images/avatar.jpg' %}" alt="{{comments.user_comment}}" class="img-circle">
            </div>
            <div class="cmt">
                <div class="username">{{comments.user_comment}}</div>
                <div class="text">{{comments.comment}}</div>
            </div>
            
        </div>
    
            
     
    
        {% endfor %}
    
    
    {% endblock %}
        

        
    <!--{% if item.active %}
       <form action="{% url 'listing' list_id %}" method="POST">
            {% csrf_token %}
            {{ form }}
    
            <input type="submit" name="bid" value="Bid">
        </form>
        {% endif %}
    
            
    <form action="{% url 'listing' list_id%}" method="GET">
        {% csrf_token %}
        {% if check %}
            <input type="submit" name="remove" value="remove">
        {% else%}
            <input type="submit" name="add" value="add">
    </form>
          
        {% endif %}  


        
    </div>
    <div class="row">
        <form action="{% url 'listing' list_id %}" method="POST">
            {% csrf_token %}
            {{ comments }}
            <input type="submit" value="comment" class="btn">
        </form>
    
    <h1>Comments</h1>
       {% for comment in all_comments %}
       <div class="com-cnt">
           <div class="text">
               {{ comment.comment }} by {{ comment.user_comment}}
           </div>
       </div>
       {% endfor %}
    
    
    <form action="{% url 'listing' list_id %}" method="GET">
        {% csrf_token %}
        {% if owner %}
        <input type="submit" name="close" value="close bid" class="btn">
        {% endif %}


    </form>

    
    
    {% if winner %}
    <h2>The winner is  {{ winner }}</h2>
    {% endif %}
    
    </div>   -->
