{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
        <!--Content-->
        <div class="wrapper">
            <div class="list-details">
                <div class="image">
                    {% if item.picture %}
                <img src="{{ item.picture.url }}" class="post-image" style="width: 100%; height: 300px;">
                    {% endif %}
                </div>
                
                <div class="detail">
                    <h1>{{ item.title }}</h1>
                    <p class="price">${{ item.start_bid }}</p>
                    <p>{{ item.description }}</p>
                    <p>{{ item.category }}</p>
                    <p>Created_by: <i>{{ createdby.creator }}</i></p>
                </div> 
                <div class="formcheck">
                    <form action="{% url 'listing' item.id %}" method="GET">
                        {% csrf_token %}
                        {% if wlcheck %}
                        <h2>This item is inside your watchlist</h2>
                        <input type="submit" name="remove" value="Remove" class="button">
                        {% else %}
                        <h2>This item is not in your watchlist</h2>
                        <input type="submit" name="add" value="Add" class="button">
                        {% endif %}
                    </form>
                </div>
                <form action="{% url 'listing' list_id %}" method="POST" class="form-inline">
                    {% csrf_token %}    
                <div class="form-group mx-sm-3 mb-2">
                    {{ bidform }}
                    <input type="submit" name="bid" class="btn btn-primary" value="Enter bid">
                </div>
                </form>
                
                
                                
                <div class="close">

                    <form action="{% url 'listing' item.id %}" method="GET" class="form-inline">
                        {% csrf_token %}
                        {% if possessor %}
                        <input type="submit" name="close" value="close bid" class="btn btn-primary">
                        {% endif %}
                
                
                    </form>
                </div>
            
               
            </div>
        </div>


       
        
       
         
        
        
        
        
    <!--Display all Comments-->
    {% for comments in allcomments %}
        <div class="container">
                <h4>{{comments.user_comment}}</h4>
                <img src="{% static 'auctions/images/avatar.jpg' %}" alt="{{comments.user_comment}}" class="left" style="width:100%">
                <p>{{ comments.comment }}</p>
        </div>
        {% endfor %}
        
        <div class="form-group">
            <form action="{% url 'listing' list_id %}" method="POST">
                {% csrf_token %}
                {{ comments }}
                <input type="submit" value="comment" class="btn">
            </form>
        </div>

            <!--<div class="cmt">
                <div class="username">{{comments.user_comment}}</div>
                <div class="text">{{comments.comment}}</div>
            </div>
            
        </div>
        
        <div class="ent_comment">
            <form action="{% url 'listing' list_id %}" method="POST">
                {% csrf_token %}
                {{ comments }}
                <input type="submit" value="comment" class="btn">
            </form>
        </div>-->
    
    
    {% endblock %}
        

        
    