{% extends "auctions/layout.html" %}
{% block body %}


    {% for list in watchlist %}
        <div class="content">
            <div class="watchlist">
                <div class="actual-watchlist">
                    <span><a href="{% url 'listing' list.id %}">{{list.title}}</a></span>
                    
                </div>
                
             
            
            </div>
        </div>
   <!-- <li><a href="{% url 'listing' list.id %}">{{list.title}}</a></li>-->
    
    
    {% endfor %}
    



{% endblock %}