{% extends "auctions/layout.html" %}
{% block body %}

<div class="wrapper-wl">
    {% for list in watchlist %}        
    <div class="card">
        {% if list.picture %}
        <img src="{{ list.picture.url }}" class="card-img-top" style="width: 300px; height: 200px;">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ list.title }}</h5>
            <p class="card-text">{{ list.description }}</p>
            <a href="{% url 'listing' list.id %}" class="btn btn-primary">Click here</a>
        </div>
         
    </div>
    {% endfor %}
    
</div>
    

{% endblock %}

    


